/* You can add global styles to this file, and also import other style files */
:root {
  --color-white: #FFFFFF;
  --color-orange: #F36B14;
  --color-dark: #231F20;
  --color-black-1: #141414;
  --color-black-2: #000000;
  --color-purple: #640D5F;
  --color-orange-2: #FF9D00;
  --color-gray-1: #45413C;
  --color-black-alpha: #141414BF;
  --color-orange-3: #FF9800;

  --gradient-1: linear-gradient(98.88deg, rgba(0, 0, 0, 0) 0.6%, rgba(0, 0, 0, 0.9) 96.39%);
  --gradient-2: linear-gradient(98.12deg, rgba(0, 0, 0, 0) 1.81%, rgba(0, 0, 0, 0.9) 97.19%);
  --gradient-3: linear-gradient(97.86deg, rgba(0, 0, 0, 0) 1.76%, rgba(0, 0, 0, 0.9) 96.81%);
  --gradient-4: linear-gradient(97.12deg, rgba(0, 0, 0, 0) 1.8%, rgba(0, 0, 0, 0.9) 96.83%);
  --gradient-5: linear-gradient(96.74deg, rgba(0, 0, 0, 0) 2.07%, rgba(0, 0, 0, 0.9) 97.04%);
  --gradient-6: linear-gradient(96.2deg, rgba(0, 0, 0, 0) 2.28%, rgba(0, 0, 0, 0.9) 97.21%);
}


